.btn-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: 2.5rem;
}

.btn {
  color: #fff;
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Inter", serif;
  line-height: 1.5rem;
}

.border-white {
  border: 1px solid #e6e6e6;
}

.border-blue {
  border: 1px solid #28ace2;
}

.border-green {
  border: 1px solid #77c053;
}

.border-red {
  border: 1px solid #a61d24;
}

.border-orange {
  border: 1px solid #d89614;
}

.border-grey {
  border: 1px solid #999999;
}

@media (min-width: 768px) {
  .btn-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .btn-container {
    grid-template-columns: repeat(6, 1fr);
    margin-top: 3.25rem;
  }
}
