/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/(home)/hero/hero.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.hero-container {
  background-color: #01589a;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.313rem 1.125rem;
}

.text-container {
  order: 2;
}

.image-container {
  order: 1;
  text-align: center;
  margin-bottom: 1.5rem;
}

@media (min-width: 1280px) {
  .hero-container {
    flex-direction: row;
    gap: 4.063rem;
    padding: 6.813rem 12.625rem;
  }
  .text-container {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .image-container {
    order: 2;
  }
  img {
    max-width: 150%;
  }
}

/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/(home)/stacks/stacks.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.stacks-btn-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: 2.5rem;
}

.stacks-btn {
  color: #fff;
  text-decoration: none;
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Inter", serif;
  line-height: 1.5rem;
}

.border-white {
  border: 1px solid #e6e6e6;
}

.border-blue {
  border: 1px solid #28ace2;
}

.border-green {
  border: 1px solid #77c053;
}

.border-red {
  border: 1px solid #a61d24;
}

.border-orange {
  border: 1px solid #d89614;
}

.border-grey {
  border: 1px solid #999999;
}

@media (min-width: 768px) {
  .stacks-btn-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1280px) {
  .stacks-btn-container {
    grid-template-columns: repeat(6, 1fr);
    margin-top: 3.25rem;
  }
}

